In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Assignment_data_input.csv", header=None) # Read csv file
df.head() # print out the first five items in the csv file

         0   1       2     3  4  5  6
0  William  30  Normal  37.0  N  N  N
1    James  25   Small  36.8  Y  N  N
2   Harper  21  Normal  36.2  Y  N  N
3    Mason  33  Normal  36.1  N  Y  N
4     Ella  30   Small  38.0  N  Y  N

In [3]:
name_new = []
weight_new = []
size_new = []
temperature_new = []
dry_cough_new = []
sore_throat_new = []
resp_problems_new = []
# creating dictionary for the infected passengers csv file
data = {0: name_new, 1: weight_new, 2: size_new, 3: temperature_new, 4: dry_cough_new, 5:sore_throat_new, 
        6:resp_problems_new}
temperature = df[3] # access items in the 4th column
cough = df[4] # access items in the 5th column
sore_throat = df[5] # access items in the 6th column
resp_problems = df[6] # access items in the 7th column

In [4]:
def check_temperature(temp):
    count = 0
    for _ in temp:
        if not 36 <= _ <= 37: # check if temperature is within the allowed range
            check_other_symptoms(count) # if not call the check_other_symptoms funtion to check the other symptoms
        count += 1
    return None

def check_other_symptoms(count):
    if (cough[count] == 'Y' and sore_throat[count] == 'Y') or \
    (resp_problems[count] == 'Y' and sore_throat[count] == 'Y') or \
    (cough[count] == 'Y' and resp_problems[count] == 'Y'): # checking for other symptoms  
        # and if any of the two is Y add the details to the new csv file
        name_new.append(df[0][count])
        weight_new.append(df[1][count])
        size_new.append(df[2][count])
        temperature_new.append(df[3][count])
        dry_cough_new.append(df[4][count])
        sore_throat_new.append(df[5][count])
        resp_problems_new.append(df[6][count])
    return None

In [5]:
check_temperature(temperature) # calling the function to check for temperature

In [6]:
print(len(name_new))
print(len(weight_new))
print(len(size_new))
print(len(temperature_new))
print(len(dry_cough_new))
print(len(sore_throat_new))
print(len(resp_problems_new))

#adding the items to the csv
info = pd.DataFrame(data) 
info.to_csv('Vaccine.csv', header=None, index=False)

21
21
21
21
21
21
21

In [7]:
results = pd.read_csv('Vaccine.csv', header=None)
results.tail() # Display the last 5 items in the csv file

          0   1           2     3  4  5  6
16     Lola  30       Small  37.5  Y  N  Y
17   Cooper   5  Very Small  38.0  Y  N  Y
18  Charlie  58         Big  39.2  N  Y  Y
19   Edward  30         Big  39.0  Y  N  Y
20    Flynn  54         Big  39.2  Y  Y  N

In [8]:
# print out the number of infected passengers
print('The number of infected passengers is {}'.format(len(name_new)))

The number of infected passengers is 21